@import 'bourbon';
@import 'neat';

div.nut {
  float:left;
  width: 2em;
  background-color: #fee
}

div.fretboard > div {
  float: left;
  width: 4em;
}

div.string {
  text-align: center;
  height: 1.5em;
}
